.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* add ) instead of . after decimal numbering in list item */

.list-decimal {
  list-style: none;
  counter-reset: my-counter;
}
.list-decimal li:before {
  content: counter(my-counter) ") ";
  counter-increment: my-counter;
  font-family: monospace;
  font-size: 0.8rem;
  margin-left: 0.2rem;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 3px;
}